<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Payment Method Facade configuration -->
    <virtualType name="CieloFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">Setor7\Cielo\Model\Ui\ConfigProvider::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form\Cc</argument>
            <argument name="infoBlockType" xsi:type="string">Setor7\Cielo\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">CieloValueHandlerPool</argument>
            <argument name="validatorPool" xsi:type="object">CieloValidatorPool</argument>
            <argument name="commandPool" xsi:type="object">CieloCommandPool</argument>
        </arguments>
    </virtualType>

    <!-- Configuration reader -->
    <type name="Setor7\Cielo\Gateway\Config\Config" >
        <arguments>
            <argument name="methodCode" xsi:type="const">Setor7\Cielo\Model\Ui\ConfigProvider::CODE</argument>
        </arguments>
    </type>

    <!-- Logger, initialized with SamplePaymentGatewayConfig -->
    <virtualType name="CieloLogger" type="Magento\Payment\Model\Method\Logger">
        <arguments>
            <argument name="config" xsi:type="object">Setor7\Cielo\Gateway\Config\Config</argument>
        </arguments>
    </virtualType>

    <type name="Setor7\Cielo\Model\Adapter\CieloAdapter">
        <arguments>
            <argument name="logger" xsi:type="object">CieloLogger</argument>
        </arguments>
    </type>

    <!-- Commands infrastructure -->
    <virtualType name="CieloCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="authorize" xsi:type="string">CieloAuthorizeCommand</item>
                <item name="capture" xsi:type="string">CieloCaptureCommand</item>
                <item name="void" xsi:type="string">CieloVoidCommand</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Authorize command -->
    <virtualType name="CieloAuthorizeCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">CieloAuthorizationRequest</argument>
            <argument name="handler" xsi:type="object">CieloResponseHandlerComposite</argument>
            <argument name="transferFactory" xsi:type="object">Setor7\Cielo\Gateway\Http\TransferFactory</argument>
            <argument name="validator" xsi:type="object">Setor7\Cielo\Gateway\Validator\AuthorizeValidator</argument>
            <argument name="client" xsi:type="object">Setor7\Cielo\Gateway\Http\Client\TransactionAuthorize</argument>
        </arguments>
    </virtualType>

    <!-- Authorization Request -->
    <virtualType name="CieloAuthorizationRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="sale" xsi:type="string">Setor7\Cielo\Gateway\Request\SaleDataBuilder</item>
                <item name="customer" xsi:type="string">Setor7\Cielo\Gateway\Request\CustomerDataBuilder</item>
                <item name="address" xsi:type="string">Setor7\Cielo\Gateway\Request\AddressDataBuilder</item>
                <item name="payment" xsi:type="string">Setor7\Cielo\Gateway\Request\CreditCardPaymentDataBuilder</item>
                <item name="creditCard" xsi:type="string">Setor7\Cielo\Gateway\Request\CreditCardDataBuilder</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Setor7\Cielo\Gateway\Http\TransferFactory">
        <arguments>
            <argument name="config" xsi:type="object">Setor7\Cielo\Gateway\Config\Config</argument>
        </arguments>
    </type>

    <!-- Capture command -->
    <virtualType name="CieloCaptureCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">Setor7\Cielo\Gateway\Request\CaptureRequest</argument>
            <argument name="handler" xsi:type="object">Setor7\Cielo\Gateway\Response\CaptureDetailsHandler</argument>
            <argument name="transferFactory" xsi:type="object">Setor7\Cielo\Gateway\Http\TransferFactory</argument>
            <argument name="validator" xsi:type="object">Setor7\Cielo\Gateway\Validator\CaptureCodeValidator</argument>
            <argument name="client" xsi:type="object">Setor7\Cielo\Gateway\Http\Client\TransactionCapture</argument>
        </arguments>
    </virtualType>

    <!-- Capture Request -->
    <type name="Setor7\Cielo\Gateway\Request\CaptureRequest">
        <arguments>
            <argument name="config" xsi:type="object">Setor7\Cielo\Gateway\Config\Config</argument>
        </arguments>
    </type>

    <!-- Void command -->
    <virtualType name="CieloVoidCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">Setor7\Cielo\Gateway\Request\VoidRequest</argument>
            <argument name="handler" xsi:type="object">Setor7\Cielo\Gateway\Response\TxnIdHandler</argument>
            <argument name="transferFactory" xsi:type="object">Setor7\Cielo\Gateway\Http\TransferFactory</argument>
            <argument name="validator" xsi:type="object">Setor7\Cielo\Gateway\Validator\ResponseCodeValidator</argument>
            <argument name="client" xsi:type="object">Magento\Payment\Gateway\Http\Client\Zend</argument>
        </arguments>
    </virtualType>

    <!-- Void Request -->
    <type name="Setor7\Cielo\Gateway\Request\VoidRequest">
        <arguments>
            <argument name="config" xsi:type="object">Setor7\Cielo\Gateway\Config\Config</argument>
        </arguments>
    </type>

    <!-- Response handlers -->
    <virtualType name="CieloResponseHandlerComposite" type="Magento\Payment\Gateway\Response\HandlerChain">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="payment" xsi:type="string">Setor7\Cielo\Gateway\Response\PaymentDetailsHandler</item>
                <item name="carddetails" xsi:type="string">Setor7\Cielo\Gateway\Response\CardDetailsHandler</item>
                <item name="fraud" xsi:type="string">Setor7\Cielo\Gateway\Response\FraudHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Value validators infrastructure -->
    <virtualType name="CieloCountryValidator" type="Magento\Payment\Gateway\Validator\CountryValidator">
        <arguments>
            <argument name="config" xsi:type="object">Setor7\Cielo\Gateway\Config\Config</argument>
        </arguments>
    </virtualType>
    <virtualType name="CieloValidatorPool" type="Magento\Payment\Gateway\Validator\ValidatorPool">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="country" xsi:type="string">CieloCountryValidator</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Value handlers infrastructure -->
    <virtualType name="CieloValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">CieloConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="CieloConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">Setor7\Cielo\Gateway\Config\Config</argument>
        </arguments>
    </virtualType>

    <type name="Setor7\Cielo\Block\Info">
        <arguments>
            <argument name="config" xsi:type="object">Setor7\Cielo\Gateway\Config\Config</argument>
        </arguments>
    </type>

</config>
